div {
    border: none;
    background-color: gainsboro;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    font-family: system-ui;

    margin: 5rem;
}

.numero {
    background: grey;
    margin: 1rem;
    padding: 20px 40px;
}