<header class="header">
  <a class="logo" routerLink=''>
    <img src="/assets/logo/imagotipo-horizontal-azul.svg" alt="logo image">
  </a>

  <input type="checkbox" id="menu-toggle" hidden>
  <label for="menu-toggle" class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <nav>
    <ul class="navbar">
      <li><a routerLink="lines">Lineas</a></li>
      <li><a routerLink="stops">Paradas</a></li>
      <li><a routerLink="news">Noticias</a></li>
      <li><a routerLink="select-pass">Bonos</a></li>
      <li><a routerLink="about-us">Sobre Nosotros</a></li>
      <li><a routerLink="user-nav" href="/login">Tu Perfil</a></li>
    </ul>
  </nav>

  <a class="login-button" href="/login">Iniciar sesión</a>

</header>
<script type="module" src="../js/header.js"></script>
