*{
    font-family: system-ui;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    margin: 0;
    gap: 10px;
}
.header{
    display: flex;
    align-items: center;
    background-color: lightgray;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 0 5px black;
}

footer{
    margin-top: auto;
}

.navbar{
    list-style: none;
    display: flex;
    gap: 40px;
}

.navbar li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: system-ui;
    font-size: 20px;
}

.navbar li a:hover{
    color: white;
}

.container{
    display: flex;
}

.icon{
    float: right;
}

.logo img{
    width: 100px;

}

.icon img{
    width: 50px;
}

.lines-warning {
    width: 200px;
    height: 140px;
    background: lightgray;
    box-shadow: 3px 3px 10px gray;
    padding: 1px 15px;
    border-radius: 5px;
}

.warning {
    font-family: system-ui;
    font-size: 0.9rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 120px;
}

.info-pass {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-pass{
    max-width: 200px;
    height: auto;
    margin: 10px;
}

.button-pass{
    height: 30px;
    width: 40px;
    margin: 10px;
}

.container-pass{
    display: flex;
    gap: 30px;
}

.text{
    font-family: system-ui;
    flex-shrink: 0;
}

.fila {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    background-color: lightgrey;
    box-shadow: 0 0 5px black;
}
.imagen_footer {
    width: 150px;
    padding: 10px 0 0 10px;
}
.textos_footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boton_line-schedule {
    padding: 15px;
    width: 65%;
    height: 70px;
    text-align: left;
    background-color: lightgray;
    border-color: white;
    display: flex;
    box-shadow: 0 0 5px black;
    align-items: center;
    margin: 25px auto;
}

#number_schedule {
    background-color: grey;
    margin-left: 45px;
    font-size: 40px;
    padding: 2px 30px 2px 30px;
}
#texto_schedule{
    margin-left: 45px;
    font-size: 40px;
}

.aside-left{
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    position: relative;

    img {
        width: 350px;
    }
}

/* About Us styles*/

.heading{
    font-size: 50px;
    background-color: lightgray;
    text-align: center;
}

.header-img{
    display: block;
    margin: auto;
    width: 600px;
    height: 250px;
}

.paragraph{
    font-size: medium;
    margin: auto;
    padding: 20px;
    width: 600px;
}

.socials{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;

    a img{
        width: 80px;
    }
}

.suggestions{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 5px;
    margin: 20px auto;
    position: relative;

    input{
        width: 50%;
    }

    button{
        align-self: flex-end;
        border-radius: 10px;
        width: 70px;
        height: 30px;
    }
}

/* Main page styles */

.index-page {
    margin: 4rem 2rem 4rem 2rem
}

.carrousel {
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slide{
    width: 100%;
    height: 22rem;
    flex-shrink: 0;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 18px;
    width: 18px;
    margin: 0 10px;
    background-color: #d9d9d9;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

    &:hover, &:active {
        background-color: #4e4e4e;
    }
}

.main-buttons {
    display: grid;

    grid-template-columns: 1.2fr 0.9fr;
    grid-template-rows: 1fr 1fr;

    gap: 12px;

    width: 40rem;

    justify-content: center;
    align-content: center;
    margin: 2rem auto;

    button {
        background-color: #d9d9d9;
        border: none;
        border-radius: 10px;
        padding: 3rem 1rem;
        font-size: 2rem
    }
}

.main-buttons button:nth-child(3) {
    grid-row: 1 / span 2;
    grid-column: 2;
    width: 90%;
}

.principal-new {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    justify-content: center;
    align-items: center;

    margin: 5rem 2rem auto 2rem;

    img {
        max-width: 30rem;
    }

    article {
        font-size: 1.3rem;
        justify-self: center;

        height: 100%;
    }
}

.secondary-news{
    a {
        text-decoration: none;
    }
}

/* News page styles */

.first-new {
    margin: auto 2rem auto 2rem;

    a {
        text-decoration: none;
    }

    img {
        width: 100%;
        max-height: 25rem;
    }

    article {
        font-size: 1.3rem;
    }
}

.preview-noticia {
    font-family: system-ui;
    padding: 2rem 1.5rem;
    box-sizing: border-box;

    a {
        text-decoration: none;
        color: black;
    }

    a > img {
        width: 100%;
        height: auto;
    }
}

.secondary-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    border-top: 2px solid #4e4e4e;
    border-bottom: 2px solid #4e4e4e;
    padding: 1rem 0;
    margin: 4rem 1rem 4rem 1rem;

    article{
        border-right: 2px solid #4e4e4e;
    }
    article:last-child {
        border-right: none;
    }
}

/* Notice page style (a single new)*/

.single-new{
    margin: auto 2rem;

    a {
        text-decoration: none;
    }

    .heading {
        background-color: white;
    }

    .new-cover {
        width: 100%;
        max-width: 60rem;
        height: auto;
        display: block;
        margin: 1rem auto;
    }

    .new-content {
        display: grid;
        grid-template-columns: 3fr 1fr;

        margin: 2rem;

        .notice {
            text-align: left;
            font-size: 1.2rem;

            margin: 0 2rem;
        }

        .another-news{
            align-content: center;
            justify-self: center;
            border-left: 2px solid #4e4e4e;

            padding: 0 0 0 2rem;

        }
    }
}

.another-news a:nth-child(1) article{
    border-bottom: 2px solid #4e4e4e;
}

/* Login styles*/

.login-page{
    display: flex;
    flex-direction: row;

    main{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;

        h1{
            font-size: 50px;
        }

        form{
            display: flex;
            flex-direction: column;
            width: 300px;
            gap: 10px;
            margin: 20px auto;
            position: relative;

            input{
                padding: 10px;
            }

            button {
                margin: 20px;
                width: 150px;
                align-self: center;
                padding: 7px;
            }

        }
    }
}

.form-footer{
    display: flex;
    gap: 25px;
}

/* User info styles */

.user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: fit-content;

    img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
    }

    h3{
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
    }

    button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        margin-top: -55px;
        margin-left: 120px;
    }
}

.user-pass{
    margin: 20px;
    min-width: 50%;
}

.add-pass{
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    gap: 25%;
    flex-wrap: wrap;

    img{
        max-width: 200px;
        height: auto;
        margin: 10px;
    }

    a{
        padding: 10px;
        font-size: xx-large;
    }
}

.user-footer{
    display: flex;
    gap: 200px;
    margin: 50px;

    button{
        padding: 10px 20px;
    }
}


.lines-page{
    h1{
        font-size: 50px;
    }


    .warnings {
        display: flex;
        justify-content: center;
        margin: 30px;
        gap: 25px;
    }

    .selection-wrapper {
        display: flex;
        justify-content: center;
        margin: 40px 0;
    }

    .selection-bar {
        background: #d9d9d9;
        padding: 15px 40px;
        width: 500px;
        text-align: left;
        font-weight: bold;
    }
}

