*{
    font-family: system-ui;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    margin: 0;
    gap: 10px;
}
.header{
    display: flex;
    align-items: center;
    background-color: lightgray;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 0 5px black;
}

footer{
    margin-top: auto;
}

.navbar{
    list-style: none;
    display: flex;
    gap: 40px;
}

.navbar li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: system-ui;
    font-size: 20px;
}

.navbar li a:hover{
    color: white;
}

.container{
    display: flex;
}

.icon{
    float: right;
}

.logo img{
    width: 100px;

}

.icon img{
    width: 50px;
}

.lines-warning {
    width: 200px;
    height: 140px;
    background: lightgray;
    box-shadow: 3px 3px 10px gray;
    padding: 1px 15px;
    border-radius: 5px;
}

.warning {
    font-family: system-ui;
    font-size: 0.9rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 120px;
}

.info-pass {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 25%;
    flex-wrap: wrap;
}

.img-pass{
    max-width: 200px;
    height: auto;
    margin: 10px;
}

.button-pass{
    height: 30px;
    width: 40px;
    margin: 10px;
}

.container-pass{
    display: flex;
    gap: 30px;
}

.text{
    font-family: system-ui;
    flex-shrink: 0;
}

.fila {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    background-color: lightgrey;
    box-shadow: 0 0 5px black;
}
.imagen_footer {
    width: 150px;
    padding: 10px 0 0 10px;
}
.textos_footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boton_line-schedule {
    padding: 15px;
    width: 65%;
    height: 70px;
    text-align: left;
    background-color: lightgray;
    border-color: white;
    display: flex;
    box-shadow: 0 0 5px black;
    align-items: center;
    margin: 25px auto;
}

#number_schedule {
    background-color: grey;
    margin-left: 45px;
    font-size: 40px;
    padding: 2px 30px 2px 30px;
}
#texto_schedule{
    margin-left: 45px;
    font-size: 40px;
}

.preview-noticia {
    font-family: system-ui;
    max-width: 300px;
    width: 15rem;
    padding: 20px;



    a {
        text-decoration: none;
        color: black;
    }

    a > img {
        height: 10rem;
        width: 14rem;
        display: flex;
        justify-self: center;

    }
}

/* About Us styles*/

.heading{
    font-size: 50px;
    background-color: lightgray;
    text-align: center;
}

.header-img{
    display: block;
    margin: auto;
    width: 600px;
    height: 250px;
}

.paragraph{
    font-size: medium;
    margin: auto;
    padding: 20px;
    width: 600px;
}

.socials{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;

    a img{
        width: 80px;
    }
}

.suggestions{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 5px;
    margin: 20px auto;
    position: relative;

    input{
        width: 50%;
    }

    button{
        align-self: flex-end;
        border-radius: 10px;
        width: 70px;
        height: 30px;
    }
}

/* Login styles*/

.login-page{
    display: flex;
    flex-direction: row;

    aside{
        height: 100vh;
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px;
        position: relative;

        img {
            width: 350px;
        }
    }

    main{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;

        h1{
            font-size: 50px;
        }

        form{
            display: flex;
            flex-direction: column;
            width: 300px;
            gap: 10px;
            margin: 20px auto;
            position: relative;

            input{
                padding: 10px;
            }

            button {
                margin: 20px;
                width: 150px;
                align-self: center;
                padding: 7px;
            }

        }
    }
}

.form-footer{
    display: flex;
    gap: 25px;
}
