<body class="login-page">

<aside>

</aside>
<main>
  <h1 class="login-header">Registrarse</h1>
  <form  [formGroup]="form" (ngSubmit)="onSubmit()" class="suggestions" id="login-form" action="" method="post">
    <label for="username">Nombre:</label>
    <input type="text" id="username" name="username" placeholder="Nombre de usuario"
           formControlName="username">
    @if (username?.invalid && username?.touched) {
      @if (username?.hasError('required')) {
        <small>Campo obligatorio</small>
      }
      @else if (username?.hasError('minlength')) {
        <small>El nombre debe tener más de 3 caracteres</small>
      }
      @else if (username?.hasError('pattern')) {
        <small>El nombre debe contener mínimo una letra</small>
      }
      @else if (username?.hasError('maxlength')) {
        <small>El nombre es demasiado largo</small>
      }
    }
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="usuario@ejemplo.com"
           formControlName="email" >
    @if (email?.invalid && email?.touched) {
      @if (email?.hasError('required')) {
        <small>Campo obligatorio</small>
      }
      @else if (email?.hasError('email')) {
        <small>Formato de email incorrecto</small>
      }
    }
    <label for="password">Contraseña:</label>
    <div class="input-wrapper">
      <input [type]="showPassword ? 'text' : 'password'"
             id="password" name="password" placeholder="Contraseña"
             formControlName="password">
      <button type="button" (click)="togglePassword()">
        <img [src]="showPassword ? 'assets/eye-off.svg' : 'assets/eye.svg'" alt="alternar contraseña">
      </button>
    </div>
    @if (password?.invalid && password?.touched) {
      @if (password?.hasError('required')) {
        <small>Campo obligatorio</small>
      }
      @else if (password?.hasError('minlength')) {
        <small>La contraseña debe tener más de 4 caracteres</small>
      }
      @else if (password?.hasError('pattern')) {
        <small>La contraseña debe contener mínimo una letra y un número</small>
      }
      @else if (password?.hasError('maxlength')) {
        <small>La contraseña es demasiado larga</small>
      }
    }
    <label for="confirm-password">Confirmar Contraseña:</label>
    <div class="input-wrapper">
      <input [type]="showPasswordConfirm ? 'text' : 'password'"
             id="confirm-password" name="password" placeholder="Contraseña"
             formControlName="confirmPassword">
      <button type="button" (click)="togglePasswordConfirm()">
        <img [src]="showPasswordConfirm ? 'assets/eye-off.svg' : 'assets/eye.svg'" alt="alternar contraseña">
      </button>
    </div>
    @if (confirmPassword?.touched && form.hasError('passwordMismatch')) {
      <small>Las contraseñas no coinciden</small>
    }
    <button type="submit" [disabled]="form.invalid">Registrarse</button>
  </form>
</main>
</body>
