.bus-from-stop {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;

  h4 {
    background: var(--blue);
    color: var(--light-yellow);
    border: 1px solid var(--blue);
    border-radius: 5px;

    padding: 0.5rem;
  }

  p {
    margin-left: auto;
    text-align: right;
  }
}
