<footer class="main-footer">
  <div class="content-footer">
    <img class="imagen-footer" src="assets/logo/imagotipo-azul.svg" alt="imagen logo Bonoguaguas">
    <p>
      Teléfono: 928 305 800 <br>
      C/ Arequipa s/n. Urb. Industrial El Sebadal 35008 <br>
      Las Palmas de G.C España <br>
    </p>

    <div class="contact">
      <h3>Contáctanos por redes sociales</h3>

      <div class="socials">
        <a href="https://www.youtube.com/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
               stroke-linejoin="round" class="youtube">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8" />
            <path d="M10 9l5 3l-5 3l0 -6" />
          </svg>
        </a>
        <a href="https://www.instagram.com/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
               stroke-linejoin="round" class="instagram">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4l0 -8" />
            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" />
          </svg>
        </a>
        <a href="https://x.com/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
               stroke-linejoin="round" class="twiter">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 4l11.733 16h4.267l-11.733 -16l-4.267 0" />
            <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
          </svg>
        </a>
        <a href="https://www.facebook.com/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
               stroke-linejoin="round" class="facebook">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg>
        </a>
      </div>
    </div>

  </div>
  <p class="copy">
    © 2026 InfoGuagua Todos los derechos reservados
  </p>
</footer>
