<footer>
    <div class="main-footer">
        <img class="imagen-footer" src="../img/logo/imagotipo-azul.svg" alt="imagen logo Bonoguaguas">
        <div class="text-footer">
            <p>
                Teléfono: 928 305 800 <br>
                C/ Arequipa s/n. Urb. Industrial El Sebadal 35008 <br>
                Las Palmas de G.C España <br>
            </p>
            <p>
                © 2026 InfoGuagua <br>
                Todos los derechos reservados
            </p>
        </div>
    </div>
</footer>