<header class="header">
    <div class="container">
        <a class="logo" href="../index.html">
            <img src="/img/dummy.jpg" alt="logo image">
        </a>
        <nav>
            <ul>
                <li>
                    <a href="">Lineas</a>
                </li>
                <li>
                    <a href="">Paradas</a>
                </li>
                <li>
                    <a href="">Noticias</a>
                </li>
                <li>
                    <a href="">Sobre Nosotros</a>
                </li>
            </ul>
        </nav>
    </div>
    <a class="icon" href="">
        <img src="/img/user.svg" alt="user">
    </a>
</header>
