<header class="header">
    <div class="container">
        <a class="logo" href="/index.html">
            <img src="/img/dummy.jpg" alt="logo image">
        </a>
        <nav>
            <ul class="navbar">
                <li>
                    <a href="/html/lines.html">Lineas</a>
                </li>
                <li>
                    <a href="">Paradas</a>
                </li>
                <li>
                    <a href="">Noticias</a>
                </li>
                <li>
                    <a href="">Info Bonos</a>
                </li>
                <li>
                    <a href="/html/about-us.html">Sobre Nosotros</a>
                </li>
            </ul>
        </nav>
    </div>
    <a class="icon" href="/html/login.html">
        <img src="/img/user.svg" alt="user">
    </a>
</header>
