<main class="bonus-page">

  <h1>Añade un Bono a tu cuenta</h1>

  <img src="assets/Tarjeta_Wawa_Joven.png" class="image-box" alt="Imagen del bono" style="display:block; margin: 0 auto;">

  <form class="suggestions" (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>

    <div class="selector">
      <div class="selected" (click)="toggleDropdown()">
        {{ bonoSeleccionado ?? 'Selecciona un bono' }}
      </div>
      @if (dropdownAbierto) {
        <div class="options" style="display:block;">
          @for (bono of bonos; track bono) {
            <div class="option" (click)="seleccionarBono(bono)">{{ bono }}</div>
          }
        </div>
      }
    </div>

    @if (error) {
      <small style="color: red;">{{ error }}</small>
    }

    <input
      formControlName="codigo"
      type="text"
      placeholder="Código de bono"
      maxlength="6"
    >
    @if (form.get('codigo')?.touched && form.get('codigo')?.errors) {
      <small style="color:red;">
        @if (form.get('codigo')?.errors?.['minlength'] || form.get('codigo')?.errors?.['maxlength']) {
          Debe tener 6 caracteres
        } @else if (form.get('codigo')?.errors?.['pattern']) {
          Debe ser un código numérico
        } @else {
          Campo obligatorio
        }
      </small>
    }

    @if (requiereDni) {
      <input
        formControlName="dni"
        type="text"
        placeholder="DNI"
        maxlength="9"
      >
      @if (form.get('dni')?.touched && form.get('dni')?.errors) {
        <small style="color:red;">
          @if (form.get('dni')?.errors?.['minlength'] || form.get('dni')?.errors?.['maxlength']) {
            Debe tener 9 caracteres
          } @else if (form.get('dni')?.errors?.['pattern']) {
            El DNI debe tener 8 números y una letra
          } @else {
            Campo obligatorio
          }
        </small>
      }
    }

    <button type="submit">Enviar</button>

  </form>

</main>
